<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{{>head}}

<body class="container">
	<div id="root"></div>


  <!-- Your app specific code -->
  <script type="text/javascript" src="../dist/bundle/app.js"></script>
</body>
</html>
